<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Single Blog</title>
</head>
<body>
  <div>

    <h1><%= blog.title %></h1>
    <p>
      <%= blog.body %> <br>
      Written by  
      <a href="/users/<%= blog.author.id %>">
        <%= blog.author.firstname %> <%= blog.author.lastname %>
      </a>
    </p>
    

  </div>
</body>
</html>